:root {
    --red-01: #fe7867;
    --yellow-01: #fad400;
    --green-01: #25564b;
    --green-02: #458c7d;
    --blue-01: #19536b;

    --grey-01: #23303e;
    --grey-02: #5a636c;
    --grey-03: #818498;
    --grey-04: #a7abae;
    --white: #ffffff;
}

body {
    min-height: 100vh;
    font-family: 'Barlow';
    font-size: 1.125rem;
}



/* CONTAINER */

#container {
    min-height: 100vh;
    padding: 0;
}



/* HEADER */

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    padding-bottom: 5em;
    color: var(--white);
    background-color: transparent;
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
}

#header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1060;
    padding: 0;
    border: none;
    outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] > i {
    color: var(--grey-04);
}

.navbar-toggler i {
    font-size: 1.5rem;
    color: var(--white);
}

#navbar-items {
    z-index: 1050;
}

#navbar-items.show {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 85%;
    background-color: var(--white);
}

#navbar-items.show::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    transform: translateY(-100%);
    border-width: 0.85rem;
    border-style: solid;
    border-color: transparent var(--white) var(--white) transparent;
}

.nav-link {
    color: var(--white);
}

.navbar-nav {
    gap: 1em;
}

#navbar-items.show > .navbar-nav {
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

#navbar-items.show > .navbar-nav .nav-link {
    color: var(--grey-03);
}


#navbar-items.show > .navbar-nav .nav-link.btn {
    font-family: 'Fraunces', serif;
    font-size: 0.95rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.875em 2em;
    color: var(--grey-01) !important;
    border-radius: 30px;
    background-color: var(--yellow-01);
}

#header h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.25rem;
    margin: 0;
}

#header .fa-arrow-down-long {
    font-size: 4rem;
}



/* MAIN */

#main {
    padding-top: 0px;
}



/* PRINCIAL CONTENT */

#principal-content .card {
    border: none;
}

#principal-content .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
}

#principal-content .card-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.875rem;
    color: var(--grey-01);
}

#principal-content .card-text {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--grey-03);
}

#principal-content .card-link {
    display: inline-block;
    padding: 0em 0.5em;
    position: relative;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-01);
}

#principal-content .card-link .card-link--content {
    z-index: 1050;
    position: relative;
}

#principal-content .card-link .card-link--shadow {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

#principal-content .card:nth-child(1) .card-link .card-link--shadow {
    background-color: #fad40040;
}

#principal-content .card:nth-child(2) .card-link .card-link--shadow {
    background-color: #fe786740;
}

#principal-content .card:nth-child(3),
#principal-content .card:nth-child(4) {
    position: relative;
}

#principal-content .card:nth-child(3) .card-body,
#principal-content .card:nth-child(4) .card-body {
    position: absolute;
    bottom: 0;
    transform: translateY(10%);
}

#principal-content .card:nth-child(3) .card-title,
#principal-content .card:nth-child(3) .card-text  {
    color: var(--green-01);
}

#principal-content .card:nth-child(4) .card-title,
#principal-content .card:nth-child(4) .card-text {
    color: var(--blue-01);
}



/* CLIENTS */

#clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 3em 1em;
}

#clients h2 {
    font-family: 'Fraunces', serif;
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--grey-04);
}

#clients .cards-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#clients .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
    padding: 2em 0.25em;
    border: none;
}

#clients .client-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#clients .card-text {
    font-size: 1.125rem;
    color: var(--grey-02);
}

#clients .client-data {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#clients .client-name {
    font-family: 'Fraunces', serif;
    font-size: 1.15rem;
    font-weight: 900;
    color: var(--grey-01);
    margin: 0;
}

#clients .client-job {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--grey-04);
    margin: 0;
}



/* GALLERY */

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#gallery img {
    object-fit: cover;
    width: 100%;
}
